@use "../../presets/" as *;
@use "../../mixins/" as *;

.footer {
  background-color: #eeeeee;
  margin-top: -42px;
  padding-top: 50px;
  padding-bottom: 40px;

  &-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding-bottom: 50px;
    padding-left: 40px;
    padding-right: 40px;
    position: relative;

    &::before {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      margin-left: 40px;
      margin-right: 40px;

      content: "";

      background-color: black;
    }

    @include xl-min {
      justify-content: space-between;
    }
    @include xl {
      flex-direction: column;
      gap: 40px;
      justify-content: center;
    }

    @include lg {
      flex-direction: column;
    }

    @include xs {
      justify-content: center;
      align-items: center;
    }

    &__menu {
      display: flex;
      justify-content: center;
      gap: $gap;
    }

    &__navbar {
      display: grid;
      padding-top: 30px;
      gap: 25px;

      @include xl-min {
        gap: 20px;
        grid-template-columns: repeat(4, 1fr);
      }

      @include xl {
        gap: 5px;
        grid-template-columns: repeat(4, 1fr);
      }
      @include sm {
        gap: 5px;
        grid-template-columns: repeat(2, 1fr);
        padding-top: 10px;
      }

      @include xs {
        gap: 5px;
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }

  &-menubar {
    @include xl {
      text-align: center;
    }

    &__title {
      font-weight: 600;
      font-size: 40px;
      line-height: 50px;
    }

    &__picture {
      padding-bottom: 25px;
    }

    &__image {
      width: 100%;
    }

    &__logo {
      padding-bottom: 10px;
    }

    &__description {
      font-size: 20px;
      line-height: 1.5;
      max-width: fit-content;
      padding-bottom: 15px;
    }

    &__action {
      font-weight: 600;
      font-size: 20px;
      line-height: 1.5;
    }
  }

  &-navbar {
    &__item {
      display: flex;
      flex-direction: column;
      align-items: start;
      max-width: 170px;
      font-size: 15px;
      line-height: 15px;
    }
  }

  &-nav {
    &__title {
      font-weight: 600;
      font-size: 20px;
      line-height: 25px;
    }

    &__link {
      padding-bottom: 10px;
    }
  }
}

.rights-container {
  position: relative;

  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;


  @include xs {
    flex-direction: column;
    padding-top: 20px;
    align-items: center;
    text-align: center;
  }
}

.rights-info__description {
  font-size: 12px;
  line-height: 15px;
  max-width: 300px;

  @include xs {
    max-width: 200px;
  }
}

.rights-info {

  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;

  @include xs {
    flex-direction: column;
    padding-top: 20px;
    align-items: center;
    text-align: center;
  }
}

.copyright-info {

  &__description {
    font-size: 12px;
    line-height: 15px;
  }


}