@use "../../presets/" as *;
@use "../../mixins/" as *;


.footer-container {
  background-color: red;
  display: flex;
  gap: 20px;
  flex-grow: 3;
  min-width: 1380px;
}

.footer {
  background-color: $color-grey;
  margin-top: -42px;
  padding-top: 50px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: row;
  

&-menu {
  display: flex;
  flex-direction: column;
  gap: $gap;
  flex-grow: 1;

  &__picture {
    order: -1;
  }
 
}

&-navbar {
 

  &__item {
    display: flex;
    flex-direction: column;
    column-gap: 10px;
  }
}
}